.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.app-input {
  padding: 10px;
  border-radius: 8px;
  background-color: beige;
  border-width: 3px;
  border-color: black;
}

.capu-img {
  width: 500px;
}
