.container {
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #495C83;
    padding: 20px;
    margin-bottom: 30px;
}